<!-- FAKERproducts.handlebars -->
<span><a  href="/">Regresar</a></span> <span><button id="printButton">Imprimir Lista</button></span>
<br/>


<h1>Productos Falsos Generados</h1>

{{#if hasProducts}}
   <div class="grid">
    {{#each productos}}
    <article class="card product-item">
        <header class="card__header">
            <h2 class="product__title">{{ this.title}}</h2>
        </header>
        <div class="card__image">
            <img class="dbimg"src={{this.thumbnail}}
            alt="{{this.title}}">
        </div>
        <div>
           <h3>{{this.price}}</h3>
        </div>
         </article>
        <a href="/mockingproducts/{{ this._id }}">Más detalles</a>
    {{/each}}
  </ul>
{{else}}
  <p>No se encontraron productos falsos.</p>
{{/if}}



   </div>


   <script type="module" src="assets/scripts/print.js"></script> 