<span><a  href="/mockingproducts">Regresar</a></span> <span>
<br/>


<h1>Detalles del Producto</h1>

<div class="product-details">
    <h2>{{ product.title }}</h2>
    <h4><strong>Descripción:</strong> {{ product.description }}</h4>
    <h4><strong>Precio:</strong> ${{ product.price }}</h4>
    <h4><strong>Stock:</strong> {{ product.stock }}</h4>
    <h4><strong>Código:</strong> {{ product.code }}</h4>
    <img src="{{ product.thumbnail }}" alt="{{ product.title }}" class="product-image">
</div>


