<body>
    
    {{#ifEquals usuario.role 'administrador'}}
            <h2>Bienvenido, ADMINISTRADOR {{usuario.nombre}}!</h2>
    {{/ifEquals}}
    {{#ifEquals usuario.role 'user'}}
        <h2>Bienvenido, Usuario {{usuario.nombre}}!</h2>
    {{/ifEquals}}
    {{#ifEquals usuario.role 'premium'}}
        <h2>Bienvenido, Usuario Premium {{usuario.nombre}}!</h2>
    {{/ifEquals}}
    

    <h2>{{titlePage}}</h2>
    <hr>  
    <br>
 

    {{#ifEquals usuario.role 'administrador'}}
        <div>
            <a href="/DBproducts-Admin">Productos</a>
        </div>
    {{/ifEquals}}
    {{#ifEquals usuario.role 'user'}}
        <div>
             <a href="/DBproducts">Productos</a>
        </div>
        <div>
              <a href="/subirArchivos">Subir archivos</a>
        </div>
        <div>
              <a href="/chat">Chat- Con Handlebars</a>
        </div>
        <div>
              <a href="/api/users/premium/{{usuario.id}}">Cambiar Rol</a>
        </div>
<div>
  <a href="/mi-carrito/{{usuario._id}}">Mi carrito</a>
</div>
    {{/ifEquals}}
        {{#ifEquals usuario.role 'premium'}}
        <div>
             <a href="/DBproducts-Premium">Productos</a>
        </div>
        <div>
              <a href="/chat">Chat- Con Handlebars</a>
        </div>
        <div>
              <a href="/api/users/premium/{{usuario.id}}">Cambiar Rol</a>
        </div>
<div>
  <a href="/mi-carrito/{{usuario._id}}">Mi carrito</a>
</div>
    {{/ifEquals}}  
 {{>menu}}
   </body>
