<body>
    
    {{#ifEquals usuario.role 'administrador'}}
            <h2>Bienvenido, ADMINISTRADOR {{usuario.first_name}}!</h2>
    {{/ifEquals}}
    {{#ifEquals usuario.role 'user'}}
        <h2>Bienvenido, Usuario {{usuario.first_name}}!</h2>
    {{/ifEquals}}
    {{#ifEquals usuario.role 'premium'}}
        <h2>Bienvenido, Usuario Premium {{usuario.first_name}}!</h2>
    {{/ifEquals}}
    

    <h2>{{titlePage}}</h2>
    <hr>  
    <br>
 

    {{#ifEquals usuario.role 'administrador'}}
        <div>
            <a href="/adminProductos">Administrar Productos</a>
        </div>
        <div>
            <a href="/adminUsers">Administrar Usuarios</a>
        </div>
    {{/ifEquals}}
    {{#ifEquals usuario.role 'user'}}
        <div>
             <a href="/DBproducts">Productos</a>
        </div>
        <div>
              <a href="/subirArchivos">Subir archivos</a>
        </div>
        <div>
              <a href="/chat">Chat</a>
        </div>
<div>
  <a href="/mi-carrito/{{usuario._id}}">Mi carrito</a>
</div>
    {{/ifEquals}}
        {{#ifEquals usuario.role 'premium'}}
        <div>
             <a href="/DBproducts-Premium">Productos</a>
        </div>
        <div>
              <a href="/chat">Chat</a>
        </div>
<div>
  <a href="/mi-carrito/{{usuario._id}}">Mi carrito</a>
</div>
    {{/ifEquals}}  
 {{>menu}}
   </body>
